body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh; 
}

#webgl-container {
    flex: 1;
    background-color: #000;
    height: 100%;
    overflow: hidden; 
}

#controls {
    flex: 1;
    background-color: #f4f4f4;
    padding: 0px;
    overflow-y: auto;
    height: 100%; 
    width: +4px;
    overflow-y: auto; 
}

#go-back-button {
    position: relative;
    display: none;
}
#rotation-speed-div {
    display: none;
}

.menu-label {
    text-align: center;
    justify-content: center; 
    font-size: 20px;
    margin-top: 20px;
}

#menu-buttons {
    display: flex;
    justify-content: space-between;
}
#menu-buttons button {
    flex: 1; 
    aspect-ratio: 1/1;
    padding: 0; 
    margin: 5px;
    margin-top: 100px; 
    text-align: center; 
    font-size: 16px; 
    border: 1px solid #000; 
    background-color: #f0f0f0; 
    cursor: pointer; 
}

#manual-rotation {
    display: none;
}
#row-one-buttons {
    display: flex; 
    justify-content: space-between; 
}
#row-one-buttons button {
    flex: 1; 
    aspect-ratio: 1/1;
    padding: 0; 
    margin: 5px; 
    text-align: center; 
    font-size: 16px; 
    border: 1px solid #000; 
    background-color: #f0f0f0; 
    cursor: pointer; 
}

#row-one-buttons button:hover {
    background-color: #ddd; 
}
#row-two-buttons{
    display: flex; 
    justify-content: space-between; 
}
#row-two-buttons button {
    flex: 1; 
    aspect-ratio: 1/1; 
    padding: 0; 
    margin: 5px; 
    text-align: center; 
    font-size: 16px; 
    border: 1px solid #000; 
    background-color: #f0f0f0; 
    cursor: pointer;
}
#row-two-buttons button:hover {
    background-color: #ddd; 
}






#coloring {
    display: none;
}
#coloring-buttons {
    display: flex; 
    justify-content: space-between; 
}
#coloring-buttons button {
    flex: 1; 
    aspect-ratio: 1/1;
    padding: 0; 
    margin: 5px; 
    text-align: center; 
    font-size: 16px; 
    border: 1px solid #000; 
    background-color: #f0f0f0; 
    cursor: pointer; 
}
#coloring-buttons button:hover {
    background-color: #ddd; 
}




#aligment { 
    display: none; 
    justify-content: space-between; 
}
#aligment button {
    aspect-ratio: 1/1;
    width: 100px;
    height: 100px;
}
#main-aligment {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}
#main-aligment button {
    aspect-ratio: 1/1;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #000;
    background-color: #f0f0f0;
    cursor: pointer;
}
#indiv-solve{
    display: flex; 
    justify-content: space-between; 
}
#indiv-solve button {
    aspect-ratio: 1/1;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #000;
    background-color: #f0f0f0;
    cursor: pointer;
}

#steps {
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}

#clear {
    display: flex;
    justify-content: center;
    text-align: center;
}

.rotation-label {
    margin-bottom: 10px; 
    text-align: center; 
}



#workInProgress {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: white;
    font-family: Arial, sans-serif;
    z-index: 100; 
}

#socialLinks {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 100;
}

#socialLinks img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

#socialLinks a {
    display: inline-block;
}


