body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh; 
}

#webgl-container {
    flex: 1;
    background-color: #000;
    height: 100%; 
    overflow: hidden; 
}

#controls {
    flex: 1;
    background-color: #f4f4f4;
    padding: 0px;
    overflow-y: auto;
    height: 100%; 
    overflow-y: auto; 
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e7e7e7;
    color: #333;
    text-align: center;
}

button:hover {
    background-color: #ddd;
}

button:active {
    background-color: #ccc;
}

.gridtop {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1px;
    padding: 1px;
    margin-top: 20px; 
}

.cell {
    background-color: #e8f626;
    border: 1px solid #ccc;
    width: 60px;  
    height: 60px;
}

#workInProgress {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: white;
    font-family: Arial, sans-serif;
    z-index: 100; 
}

#socialLinks {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 100;
}

#socialLinks img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

#socialLinks a {
    display: inline-block;
}

#WhiteCross {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


#WhiteCross:disabled {
    background-color: #cccccc; 
    color: #666666; 
    cursor: not-allowed;
    opacity: 0.6; 
}

#Randomize{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#Randomize:disabled {
    background-color: #cccccc; 
    color: #666666; 
    cursor: not-allowed;
    opacity: 0.6; 
}

#WhiteCorners {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#WhiteCorners:disabled {
    background-color: #cccccc; 
    color: #666666; 
    cursor: not-allowed;
    opacity: 0.6; 
}